@import "./mixin.scss";
#logo {
  @include full-flex-row;
  margin-top: 10px;
  height: 35px;
  padding-bottom: 10px;
  h1 {
    font-size: 35px;
  }
}
#btns {
  @include full-flex-row;
  justify-content: space-around;
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  padding: 5px 0 5px 0;
  button {
    background-color: none;
    background: none;
    border: none;
    svg {
      overflow: visible;
      width: 30px;
      height: 30px;
      &:hover {
        path {
          fill: var(--border-color);
        }
      }
      path,
      circle {
        transition: all 0.3s;
        fill: var(--text-color);
      }
    }
  }
}

#chats {
  @include full-flex-col;
  justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 97px);
  button {
    width: 100%;
    background: none;
    color: var(--text-color);
    border: none;
    border-bottom: 2px solid var(--border-color);
    font-size: 25px;
    padding: 10px 0 10px 0;
    &:nth-child(1) {
      border-top: none;
    }
  }
}

#chat {
  width: 100%;
  #no_message {
    display: none;
  }
  #chat_nav {
    @include full-flex-row;
    z-index: 10;
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: var(--bg-color);
    h3 {
      font-size: 25px;
    }
    button {
      position: absolute;
      left: 15px;
      background: none;
      border: none;
      svg {
        overflow: visible;
        width: 30px;
        height: 30px;
        &:hover {
          path {
            fill: var(--border-color);
          }
        }
        path,
        circle {
          transition: all 0.3s;
          fill: var(--text-color);
        }
      }
    }
  }
  .sub_chat {
    @include full-flex-col;
    justify-content: flex-start;
    margin-top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    ul {
      overflow-y: scroll;
      height: calc(100vh - 100px);
      width: 100%;
      padding: 10px 10px 0 10px;
      list-style: none;
      li {
        @include full-flex-col;
        width: 100%;
        margin-bottom: 10px;
        span {
          padding: 5px 10px 5px 10px;
          background-color: var(--color-4);
          width: -moz-fit-content;
          width: fit-content;
          border-radius: 5px;
          font-size: 20px;
          text-align: justify;
          word-break: break-all;
          border: 2px solid var(--border-color);
          transform: scale(0);
          opacity: 0;
        }
      }
      #sent {
        align-items: flex-end;
        span {
          animation: sent 0.5s ease 0.2s forwards;
        }
        @keyframes sent {
          0% {
            transform: scale(0);
            opacity: 0;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
      #received {
        align-items: flex-start;
        span {
          background-color: var(--black);
          animation: received 0.5s ease 0.2s forwards;
        }
        @keyframes received {
          0% {
            transform: scale(0);
            opacity: 0;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
    form {
      @include full-flex-row;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      border-top: 3px solid var(--border-color);
      border-bottom: 3px solid var(--border-color);
      width: 100%;
      height: 50px;
      padding: 0 10px 0 10px;
      background: var(--bg-color);
      #input_container {
        @include full-flex-col;
        width: calc(100vw - 60px);
        height: 30px;
        position: relative;
        input {
          outline: none;
          background: var(--color-4);
          border: none;
          width: calc(100vw - 60px);
          height: 30px;
          padding: 10px;
          padding-right: 65px;
          border-radius: 5px;
          font-size: 20px;
          color: var(--text-color);
          &::placeholder {
            color: var(--text-color);
          }
        }
        span {
          position: absolute;
          right: 5px;
        }
      }
      button {
        @include full-flex-col;
        background: none;
        border: none;
        svg {
          overflow: visible;
          width: 30px;
          height: 30px;
          &:hover {
            path {
              fill: var(--border-color);
            }
          }
          path,
          circle {
            transition: all 0.3s;
            fill: var(--text-color);
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 0px;
  background: var(--border-color);
  -webkit-box-shadow: none;
}

@media only screen and (min-width: 992px) {
  body {
    @include full-flex-row;
  }
  #main_container {
    height: 100vh;
    width: 35vw;
    border: 3px solid var(--border-color);
  }
  #chat {
    height: 100vh;
    width: 65vw;
    #chat_nav {
      width: 65vw;
      left: unset;
      border-right: 3px solid var(--border-color);
      button {
        display: none;
      }
    }
    .sub_chat form {
      width: 65vw;
      #input_container {
        @include full-flex-col;
        width: calc(65vw - 60px);
        input {
          width: calc(65vw - 60px);
        }
      }
    }
    #no_message {
      @include full-flex-col;
      height: 100%;
      width: 100%;
      border: 3px solid var(--border-color);
      border-left: none;
      svg {
        overflow: visible;
        width: 100px;
        height: 100px;
        &:hover {
          path {
            fill: var(--border-color);
          }
        }
        path,
        circle {
          transition: all 0.3s;
          fill: var(--text-color);
        }
      }
    }
  }
}
