#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 10px;
  height: 35px;
  padding-bottom: 10px;
}

#logo h1 {
  font-size: 35px;
}

#btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  padding: 5px 0 5px 0;
}

#btns button {
  background-color: none;
  background: none;
  border: none;
}

#btns button svg {
  overflow: visible;
  width: 30px;
  height: 30px;
}

#btns button svg:hover path {
  fill: var(--border-color);
}

#btns button svg path,
#btns button svg circle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: var(--text-color);
}

#chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 97px);
}

#chats button {
  width: 100%;
  background: none;
  color: var(--text-color);
  border: none;
  border-bottom: 2px solid var(--border-color);
  font-size: 25px;
  padding: 10px 0 10px 0;
}

#chats button:nth-child(1) {
  border-top: none;
}

#chat {
  width: 100%;
}

#chat #no_message {
  display: none;
}

#chat #chat_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  z-index: 10;
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--bg-color);
}

#chat #chat_nav h3 {
  font-size: 25px;
}

#chat #chat_nav button {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
}

#chat #chat_nav button svg {
  overflow: visible;
  width: 30px;
  height: 30px;
}

#chat #chat_nav button svg:hover path {
  fill: var(--border-color);
}

#chat #chat_nav button svg path,
#chat #chat_nav button svg circle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: var(--text-color);
}

#chat .sub_chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
}

#chat .sub_chat ul {
  overflow-y: scroll;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 10px 10px 0 10px;
  list-style: none;
}

#chat .sub_chat ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

#chat .sub_chat ul li span {
  padding: 5px 10px 5px 10px;
  background-color: var(--color-4);
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  border-radius: 5px;
  font-size: 20px;
  text-align: justify;
  word-break: break-all;
  border: 2px solid var(--border-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

#chat .sub_chat ul #sent {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#chat .sub_chat ul #sent span {
  -webkit-animation: sent 0.5s ease 0.2s forwards;
          animation: sent 0.5s ease 0.2s forwards;
}

@-webkit-keyframes sent {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes sent {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

#chat .sub_chat ul #received {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#chat .sub_chat ul #received span {
  background-color: var(--black);
  -webkit-animation: received 0.5s ease 0.2s forwards;
          animation: received 0.5s ease 0.2s forwards;
}

@-webkit-keyframes received {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes received {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

#chat .sub_chat form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  width: 100%;
  height: 50px;
  padding: 0 10px 0 10px;
  background: var(--bg-color);
}

#chat .sub_chat form #input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: calc(100vw - 60px);
  height: 30px;
  position: relative;
}

#chat .sub_chat form #input_container input {
  outline: none;
  background: var(--color-4);
  border: none;
  width: calc(100vw - 60px);
  height: 30px;
  padding: 10px;
  padding-right: 65px;
  border-radius: 5px;
  font-size: 20px;
  color: var(--text-color);
}

#chat .sub_chat form #input_container input::-webkit-input-placeholder {
  color: var(--text-color);
}

#chat .sub_chat form #input_container input:-ms-input-placeholder {
  color: var(--text-color);
}

#chat .sub_chat form #input_container input::-ms-input-placeholder {
  color: var(--text-color);
}

#chat .sub_chat form #input_container input::placeholder {
  color: var(--text-color);
}

#chat .sub_chat form #input_container span {
  position: absolute;
  right: 5px;
}

#chat .sub_chat form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: none;
  border: none;
}

#chat .sub_chat form button svg {
  overflow: visible;
  width: 30px;
  height: 30px;
}

#chat .sub_chat form button svg:hover path {
  fill: var(--border-color);
}

#chat .sub_chat form button svg path,
#chat .sub_chat form button svg circle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: var(--text-color);
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: var(--border-color);
  -webkit-box-shadow: none;
}

@media only screen and (min-width: 992px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  #main_container {
    height: 100vh;
    width: 35vw;
    border: 3px solid var(--border-color);
  }
  #chat {
    height: 100vh;
    width: 65vw;
  }
  #chat #chat_nav {
    width: 65vw;
    left: unset;
    border-right: 3px solid var(--border-color);
  }
  #chat #chat_nav button {
    display: none;
  }
  #chat .sub_chat form {
    width: 65vw;
  }
  #chat .sub_chat form #input_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: calc(65vw - 60px);
  }
  #chat .sub_chat form #input_container input {
    width: calc(65vw - 60px);
  }
  #chat #no_message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 3px solid var(--border-color);
    border-left: none;
  }
  #chat #no_message svg {
    overflow: visible;
    width: 100px;
    height: 100px;
  }
  #chat #no_message svg:hover path {
    fill: var(--border-color);
  }
  #chat #no_message svg path,
  #chat #no_message svg circle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    fill: var(--text-color);
  }
}
/*# sourceMappingURL=chat.css.map */