:root {
  --bg-color: #0e031f;
  --bg-color-t: #0e031fda;
  --color-1: #270082;
  --color-2: #7a0bc0;
  --color-3: #56c8ff;
  --text-color: #b08dff;
  --border-color: #6e3fd6;
  --border-color-light: #865be4;
  --warning-color: #ff4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
